/**.box{
    background: pink;
    color: white;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: black;
    border-radius: 30%;
}**/
p {
    
    border: 15px solid green;
   
    border-width: 10px;
    box-shadow: brown;
    border-radius: 100px;
    width: 30px;
  }

.wrap{
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: inline-block;
  }